 img {
    border-radius: 100%;
 }
 /* .ronaldo-name {
    color: rgb(6, 109, 168);
} */

.header {
     
    justify-content: center;
    text-align: center;
}
h2 {
    color:rgb(6, 109, 168) ;
}

tr {

    background-color: rgb(238, 230, 230);
    border-radius: 100%;
}

/* .header h2 {
    background: red;
} */
 h2 {
  color: ##2563eb;
 }

 table {
    width: 100%;
    height: 70;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border:none;
   
   

}



 th {
    background-color: #1d4ed8;
    color: #ffff;
    font-family:sans-serif;
 }

 td {
    color: rgb(63, 57, 57);
    font-family: sans-serif;
 
 }
 td:hover {
   background-color: grey;
   cursor:pointer;
 }
 p {
     color: rgb(24, 23, 23);
 }

 .footer {
    width: 100%;
    height: 200px;
    background-color: #3b82f6
 }

 footer {
    position: relative;
    left: 400px;
    top: 180px;
 }
 .contact {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: 300px;
    background-color:#3b82f6 ;
    text-align: center;
    position: static;
   
 }
 h1 {
    position: relative;
    top: 120px;
 }

 label {
   font-size: 15px;
   font-weight: 500;
   font-family: sans-serif;
 }

 button {
   background-color: #1d4ed8;
   color: white;
   font-family: sans-serif;
   border: none;
   height: 30px;
   width: 90px;
   border-radius: 10px;
 }